name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        
      - run: deno --version

      - run: deno run start

      - name: Git auto commit and push all changes
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          branch: doc
          push_options: '--force'
